<div class="container">

  <div class="row featurette">
        <div class ="col-md-12">
          <h2 class="featurette-heading">
          <span class="text-danger">More Signal.</span><span class="text-muted"> Less Noise.</span></h2><br>
          <p class="lead">Helio is an <i>exclusive</i>, <b>invite-only</b> network of only the most promising writers, authors and storytellers.</p>
            <p class="lead">It is central place to review written work, find agents, and establish differentiation.</p>
            <a class="btn btn-large btn-primary" href="about">Apply For Invitation</a>

        </div>
</div>
</div>