<div class="container">
	<div class="row featurette">
        <div class="col-md-8">
          <h2 class="featurette-heading">Helio is an engagement platform for authors.</h2>
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>
 <hr class="featurette-divider">
 	<div class="row featurette">
        <div class="col-md-8">
          <h2 class="featurette-heading">Why do we need Helio? </h2>
          <p class="lead">Did you know JK Rowling's Harry Potter manuscript was <b>rejected for 2 years</b> before she was discovered? <br><br>Tim Ferris' Four Hour Workweek book was <b>rejected over 20 times</b> before getting an offer. <br><br>
            Help authors find their perfect audience. Engage with authors to review early content, help authors gain their critical support and find a home for great books that otherwise might have never been read.</p>
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>
 <hr class="featurette-divider">
 	<div class="row featurette">
        <div class="col-md-8">
          <h2 class="featurette-heading">Help authors keep ownership of their creative work.</h2>
          <p class="lead">3rd party agents and corporate publishers require authors to give up significant ownership and sales revenue for their hard work. Help authors pass on the gift of knowledge through their stories.</p>
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>
 <hr class="featurette-divider">

</div>