<div class="container">
	<div class="row featurette">
        <div class="col-md-8">
          <h2 class="featurette-heading">Get your book instantly scanned to improve your marketability.</h2>
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>
 <hr class="featurette-divider">
 	<div class="row featurette">
        <div class="col-md-8">
          <h2 class="featurette-heading">Why do we need Helio? </h2>
          <p class="lead">Did you know JK Rowling's Harry Potter manuscript was <b>rejected for 2 years</b> before she was discovered? <br><br>Tim Ferris' Four Hour Workweek was <b>rejected over 20 times</b> before getting an offer.</p>
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>
 <hr class="featurette-divider">
 	<div class="row featurette">
        <div class="col-md-8">
          <h2 class="featurette-heading">Editing, ad spending and reviews can cost thousands of dollars.</h2>
          <p class="lead">As the number of digital endpoints increase in today's super-connected era, readers are bombarded with information.<br><br>Helio is using machine reading and semantic technology to compare your book's content against the written works of successful authors in your genre and target market.
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>
 <hr class="featurette-divider">
</div>