<% provide(:title, 'About') %>

<div class="container">

  <div class="row">
        <div class ="col-md-12">
          	<div class="page-header"><h2>Get Real, High Quality Feedback</h2></div>
          	<p class="lead">The number one way to promote and market a good book is to get it honestly reviewed.</p>
          <a class="btn btn-large btn-primary" href="signup">Sign Up</a>
         </div>
 </div> <!-- end row -->


  </div> <!-- end container -->
