<div class="container">
	<div class="row featurette">
        <div class="col-md-8">
          <h2 class="featurette-heading">Helio is an engagement platform for authors and readers.</h2>
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>
 <hr class="featurette-divider">
 	<div class="row featurette">
        <div class="col-md-8">
          <h2 class="featurette-heading">Why do we need Helio? </h2>
          <p class="lead">It costs on average $7,000 to write a new book. Writing alone is just not enough. Self-publishing authors need to find designers, literary agents, editors, and publishers all on their own. Did you know JK Rowling's Harry Potter manuscript was rejected for 2 years before she was discovered? Help pass on the gift of knowledge by helping authors find their audience. Readers can read early content, vote on new novels, and recommend books to friends and family.</p>
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>
 <hr class="featurette-divider">
 	<div class="row featurette">
        <div class="col-md-8">
          <h2 class="featurette-heading">Help authors keep creative ownership of their creative work. And do some good.</h2>
          <p class="lead">Authors have pledged at least 1% of sales through Helio towards promotion of literacy among young adults and children.</p>
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>
 <hr class="featurette-divider">

</div>