<div class="container">

 <hr class="featurette-divider">

 	<div class="row featurette">
        <div class="col-md-8">
          <h2 class="featurette-heading">In the growing digital economy, more content is not the answer.</h2>
          <p class="lead">Helio is a site where you can look up books, articles and videos on topics you want to learn about. Get personal recommendations on subjects you are interested in by people you know and trust.
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-responsive" src="http://2.bp.blogspot.com/-HpaQZeYa5rg/UbiIg8S7r7I/AAAAAAAAKAE/Ow1YZLKgKMA/s1600/READING.jpg" data-src="holder.js/500x500/auto">
        </div>
      </div>

 <hr class="featurette-divider">

 	<div class="row featurette">
        <div class="col-md-4">
          <img class="featurette-image img-responsive" src="http://www.marcias-lesson-links.com/gayle/ReadingFun.gif" data-src="holder.js/500x500/auto">
        </div>
        <div class ="col-md-8">
          <h2 class="featurette-heading">
          Get mentors and leaders in your life to join and give you personalized recommendations.</h2><p class="lead">Success starts with great support from your family, friends and teachers.<p>
        </div>
</div>

<hr class="featurette-divider">

  <div class="row featurette">
        <div class ="col-md-12">
          <h2 class="featurette-heading">
          Manage your new book publication by understanding how agents, publishers and editors are engaging with your content.</h2><p class="lead">Invite people to read your work and get real time analytics.<p>
        </div>
</div>
