<div class="container">

  <div class="row">
        <div class ="col-md-12">
          	<div class="page-header"><h2>Helio's Mission</h2></div>
          	<p class="lead">Helio lets you build, collect and share recommended reading lists on any topic from articles or tutorials on the web, open online courses, instructional videos, favorite books, and your very smart friends.</p>
          <a class="btn btn-large btn-primary" href="signup">Sign Up To Receive Updates</a>
         </div>
 </div> <!-- end row -->


  </div> <!-- end container -->
