<div class="container">
	<div class="row featurette">
        <div class="col-md-8">
          <h2 class="featurette-heading">Helio is an engagement platform for authors and readers.</h2>
          <p class="lead">Engage. Discover. Give.</p>
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>
 <hr class="featurette-divider">
 	<div class="row featurette">
        <div class="col-md-8">
          <h2 class="featurette-heading">Why? It costs on average $7,000 to write a new book.</h2>
          <p class="lead">Did you know JK Rowling was rejected for 2 years before being discovered? Readers can read early content, vote on their favorite ideas, recommend other readers, and directly engage with authors.</p>
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>
 <hr class="featurette-divider">
 	<div class="row featurette">
        <div class="col-md-8">
          <h2 class="featurette-heading">Authors keep <b>100%</b> creative ownership of their work.</h2>
          <p class="lead">Authors have committed 1% of funds raised through Helio towards promotion of literacy among young adults and children.</p>
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>
 <hr class="featurette-divider">

</div>