<div class="container">

  <div class="row featurette">
        <div class ="col-md-12">
          <h2 class="featurette-heading">
          More Signal. Less Noise.</h2>
          <p class="lead">Writers: Understand how editors, readers and publishers are engaging with your content.<p>
            <p class="lead">Publishers: Review the written work of emerging new authors and their established crediblity.<p>
        </div>
</div>