<div class="container">
	<div class="row featurette">
        <div class="col-md-8">
          <h2 class="featurette-heading">Helio is the modern day bookstore powered by a direct author-to-reader community.</h2>
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>
 <hr class="featurette-divider">
 	<div class="row featurette">
        <div class="col-md-8">
          <h2 class="featurette-heading">Why do we need Helio? </h2>
          <p class="lead">Did you know JK Rowling's Harry Potter manuscript was <b>rejected for 2 years</b> before she was discovered? <br><br>Tim Ferris' Four Hour Workweek was <b>rejected over 20 times</b> before getting an offer. <br><br>
            Helio is a place where authors and readers can find each other.</p>
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>
 <hr class="featurette-divider">
 	<div class="row featurette">
        <div class="col-md-8">
          <h2 class="featurette-heading">Writing a novel costs over $7,000.</h2>
          <p class="lead">As the number of digital endpoints increase in today's super-connected era, we are bombarded with information. Passing on knowledge through our stories and novels should be easier, plain and simple.<br><br>Helio is using technology to increase our access to <i>relevant</i> information through <i>real</i> recommendations.</p>
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>
 <hr class="featurette-divider">
<div class="row featurette">
        <div class="col-md-8">
          <h2 class="featurette-heading">We are on a social mission.</h2>
          <p class="lead">Increasing access to education and improving literacy rates is critical to our society. We are proud to be a supporter of reading programs for youth development.</p>
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>
</div>