<% provide(:title, 'About') %>

<div class="container">

  <div class="row">
        <div class ="col-md-12">
          	<div class="page-header"><h2>Reach Your Actual Customers - The Reader</h2></div>
          	<p class="lead">The number one way to promote and market a good book is to get it honestly reviewed. Readers turn to online reviews written by peers to find out if a book is worth buying. Good reviews on platforms such as GooodReads, Amazon and Smashwords is crucial for books by new authors and for niche books. </p>

          	<p class="lead"> Traditional book marketing strategies call for mailing hundreds of copies to reviewers at magazines and newspapers. But for a new author and/or a niche book, chasing print reviews can be little more than a distraction. A better way to launch your campaign is by identifying readers who will take a look at it and perhaps post an honest critique. But this can take days to contact 200+ potential reviewers, with no certainty of real reviews.</p>
          	
          	<p class="lead">Rather than stalking profiles and hunting email addreses on Amazon, Google and Facebook, a direct platform that helps you reach these readers is much more effective. Spamming reviewers with free books and manuscrupts on these sites will only result in unconvincing reviews and detract from your book’s credibility, rather than bolster it. Don't spend hundreds of hours and wasted time screening out reviewers whose profile indicates they won’t be interested in your book.<p>
          <a class="btn btn-large btn-primary" href="signup">Sign Up</a>
         </div>
 </div> <!-- end row -->

  </div> <!-- end container -->
