<div class="container">

  <div class="row">
        <div class ="col-md-12">
          	<div class="page-header"><h2>Helio's Mission</h2></div>
          	<p class="lead">Helio lets you build, collect and share recommended reading lists on any topic from articles or tutorials on the web, open online courses, instructional videos, favorite books, and your very smart friends.</p>
          <a class="btn btn-large btn-primary" href="signup">Sign Up To Receive Updates</a>
         </div>
 </div> <!-- end row -->
 <div class="row">
 	<div class="col-md-12">
 		<div class="page-header">
 			<h2>About</h2>
 		</div>
 		<div>
 			<div class="row">
 				<div class="col-md-2">
 					<img src="http://m.c.lnkd.licdn.com/mpr/pub/image-Sl626J5OSOgwbVnraY4cp5V1-86C2axEwL4GRG_O-2Xbn-SfSl6GrHqO-n732oC2I6Km/isabelle-park.jpg" class="img-circle">
 				</div>
 				<div class="col-md-10"><span class="lead">I believe that the best way to engage with knowledge is to seek it.  If the Web is about open knowledge, Helio is about deep focus. Helio lets you share your knowledge with your peers and learn from each other.<br><br>	Izzy Park, founder </span>
 				</div>
 		</div>
     </div>
       

  </div> <!-- end container -->
