<% provide(:title, 'FAQ') %>

<div class="container">

  <div class="row">
        <div class ="col-md-12">
          	<div class="page-header"><h2>Get Your Book Read</h2></div>
          	<p class="lead">
			Publishing your book was just the beginning. Getting your book read and receiving online reviews are critical to getting your book in the mainstream. <br><br>

Do it in 3 simple steps<br><br>

1. Choose your reviewers<br>
2. Pay for your review<br>
3. Get your reviews published<br>
</p>
          <a class="btn btn-large btn-primary" href="signup">Sign Up</a>
         </div>
 </div> <!-- end row -->


  </div> <!-- end container -->
