<% provide(:title, 'Home') %>
    <!-- Carousel
    ================================================== -->
    
   <div id="myCarousel" class="carousel slide" >
      <div class="carousel-inner">
        <div class="carousel-caption">
              <p class="pull-left lead">
                <h2>Get your book reviewed by real readers.</h2>
                  <br><br>
                      <div>
                        <%= link_to "Sign Up", "signup", :class => "btn btn-primary btn-lg" %>
                      </div>                      
                  <br>
              </p>
            </div>
        <div class="item active">
          <img src="http://empireguides.com/wp-content/uploads/2012/01/The-Morgan-Library-1.jpg">
        </div>
      </div>
    </div><!-- /.carousel -->
<div class="container">
        <div class="page-header">
          <h1>Unbiased, online reviews are critical to getting your book noticed</h1>
        </div>
<div class="jumbotron">
    <div class="container">
      <div class="row">
      <div class="col-md-10">
        1. Choose readers<p>
        2. Receive a private review<p>
        3. Leave a reader review<p>
      </div>
      </div>
      <div class"row">
        <div align="center">
            <div><br>
               <%= link_to "Learn More", "signup", :class => "btn btn-success btn-lg" %>
             </div>   
      </div>
      </div>
    </div>
</div>





  