<% provide(:title, 'Home') %>
<div class="container">
        <div class="page-header">
          <h1>Required Reading.</h1>
        </div>
        <p class="lead">Engage. Discover. Give.</p>
      	</div>

    </div>