<% provide(:title, 'Home') %>
<div class="container">
        <div class="page-header">
          <h1>Discover the next runaway bestseller.</h1>
        </div>
<div class="jumbotron">
  <div class="container">
  	<div class="row">
  <div class="col-md-4"><h3>Joseph's passion is baseball.</h3>
    <p>He's writing a book about the last 15 years of South Korean baseball history.</p><p>
  <!-- Button trigger modal -->
  <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Learn more</a></p></div>
  <div class="col-md-3"><img src="http://www.koreabang.com/wp-content/uploads/2013/03/WBCTaiwan.jpg" class="img-rounded"></div>
</div>
  </div>
</div>


  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">WBC Korea</h4>
        </div>
        <div class="modal-body">
          Joseph has been following baseball since he was 5 years old.
<p>
          Chapter 1

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


</div>