<% provide(:title, 'Home') %>
<div class="container">
        <div class="page-header">
          <h1>Get instant feedback on your manuscript and writing style.</h1>
        </div>
<div class="jumbotron">
  <div class="container">
  	<div class="row">
  <div class="col-md-5"><h3>Josephine's passion is the beautiful outdoors.</h3>
    <p>She's writing a book about the history of Antelope Canyon, one of the most photographed scenes in the world. See how Helio helped her market her new book.</p><p>
  <!-- Button trigger modal -->
  <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Learn more</a></p></div>
  <div class="col-md-3"><img src="http://www.destination360.com/contents/pictures/arizona/upper-antelope-canyon-tours.jpg" class="img-rounded" width="450" height="300"></div>
</div>
  </div>
</div>


  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Josephine's new book: Great Escapes</h4>
        </div>
        <div class="modal-body">
          Hi, my name is Josephine and I have been a photographer and writer for 20 years. After years of hesitation, I finally decided it was time to put my work into a book. After 6 months of copyediting, self-marketing and trying to get published, I got nowhere. Helio helped me optimize my content by helping me understand what other travel books did successfully. I'm very happy to announce that I got picked up by a publisher and plan on launching another book with Helio! Thank you Helio!<br><br>
          <p class="text-center">
          <img src="http://i.istockimg.com/file_thumbview_approve/7743186/2/stock-photo-7743186-portrait-of-young-woman-in-park.jpg" class="img-rounded" width="130" height="90"><br><br>Learn more about Josephine's <a href="http://localhost:3000/users/2">latest book</a>.
   </p>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


</div>