<div class="container">

	<p>

    <div class="table-responsive">
		<table class="table table-striped">
			<th><%= @books.count %> Recommended Reads</th>
 			<% @books.each do |book| %>
        	<tr>
          	<td><%= book.title %></td>
        	</tr>
      <% end %>
  </table>
</div>

</div>
