body {
 background: #ccc;   
}
.flip {
  -webkit-perspective: 800;
   width: 90px;
   height: 120px; 

    position: relative;
    margin: 50px auto;
}
.flip .card.flipped {
  -webkit-transform: rotatex(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
}
.flip .card .front {
    position: absolute;
    z-index: 1;
    background: black;
    color: white;
    cursor: pointer;
    box-shadow: 3px 3px 4px #000;
}
.flip .card .back {
  -webkit-transform: rotatex(-180deg);
    /*
    background: blue;
    */
    background: gray;
    color: black;
    cursor: pointer;
    box-shadow: 3px 3px 4px #000;
}

    div.custompaddingtop {
      padding-top:5%;
      
      }

    /* Include only if navbar is fixed to the top  */
    body { padding-top: 50px; }

    /* Carousel base class */
    .carousel {
      margin-bottom: 60px;
      min-height: 100%;
    }

    .carousel-caption {
      top: 10%;
      bottom: 30%;
      left: 10%;
      right: 40%;
      z-index: 5;
      padding: 5%;
      padding-top: 5%;
      background-color: rgba( 0, 0, 0, 0.75);
      text-align: left;
    }

    .carousel img {
      position: relative;
      top: 0;
      left: 0;
      min-width: 100%;
      max-height: 100%;
      margin: 0;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
      width: 100%;
      height: 100%;
      background-color: #777;
    }

    /* footer */

    footer {
      margin-top: 45px;
      padding-top: 5px;
      border-top: 1px solid #eaeaea;
      color: #999;
    }

    footer a {
      color: #555;
    }

    footer a:hover {
      color: #222;
    }

    footer small {
      float: left;
    }

    footer ul {
      float: right;
      list-style: none;
    }

    footer ul li {
      float: left;
      margin-left: 10px;
    }


    /* mixins, variables, etc. */

    $grayMediumLight: #eaeaea;

    @mixin box_sizing {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }


    /* miscellaneous */

    .debug_dump {
      clear: both;
      float: left;
      width: 100%;
      margin-top: 45px;
      @include box_sizing;
    }
