<div class="container">
  <footer class="footer">
  <small>
    <a href="http://www.linkedin.com/in/isabellepark">Izzy Park </a> | Helio 2013 | Alpha
  </small>
  <nav>
    <ul>
      <li></li>
    </ul>
  </nav>
</footer>
</div>