<div class="container">
  <footer class="footer">
  <small>
    <a href="http://twitter.com/izzy_park">Izzy Park </a> | 2013
  </small>
  <nav>
    <ul>
      <li></li>
    </ul>
  </nav>
</footer>
</div>